<!DOCTYPE html>
<html lang="en" ng-app="aplic" ng-controller="controller1">
<head>
  <meta charset="UTF-8">
  <title>CRUD MEAN</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .rows:hover{
      background-color: yellow;
      color:purple;
    }
    .form{
      width: 500px;
      margin: auto;
    }
  </style>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">

</head>
<body>
<h1>{{ output }}</h1>  
  <script src="/angular/angular.min.js"></script>
  <script src="angapp.js"></script>
 

<!-- -->
<div class="form">
  <form action="/quotes" method="POST" id="formu" ng-click="validateIdExist()">
  <div class="row">
    <div class="large-4 columns">
      <label>Input Label
        <input type="text" placeholder="_id" name="_id" id="_id" readonly >
      </label>
    </div>
    <div class="large-4 columns">
      <input type="text" placeholder="Ip" name="ip" ng-model="ip" readonly>
    </div>
    <div class="large-4 columns">
      <input type="text" placeholder="Nombre" name="name" id="name" required>
    </div>
    <div class="large-4 columns">
      <input type="text" placeholder="Frase" name="quote" id="quote" required>
    </div>
  </div>
  <button class="button" type="submit">INSERT</button>
  <button class="button" formaction="/update" ng-disabled="idExist">UPDATE</button>
  <button class="button" formaction="/delete" ng-disabled="idExist">DELETE</button>
  <button class="button" formaction="#" ng-click="clear()">Clear</button>
</form>
<table>
  <th>
    <tr>
      <td>Mongo ID</td>
      <td>Nombre</td>
      <td>Apellido</td>
      <td>IP</td>
    </tr>
  </th>
  <tbody>
    <tr ng-repeat="element in elements" ng-click="passValues(element)" class="rows">
      <td>{{element._id}}</td>
      <td>{{ element.name }}</td>
      <td>{{ element.quote }}</td>
      <td>{{ element.ip }}</td>
    </tr>
  </tbody>
</table>
</div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
</body>

</html>